@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700");
body {
  font-family: Roboto, sans-serif;
  color: #343434;
}

@keyframes anim-fb {
  40% {
    color: #5f7ec1;
  }
  80% {
    color: #3f5fa3;
  }
  100% {
    color: #3b5998;
  }
}
@keyframes anim-tw {
  40% {
    color: #0b76b8;
  }
  80% {
    color: #0f9bf1;
  }
  100% {
    color: #1da1f2;
  }
}
@keyframes anim-pt {
  40% {
    color: #f51c34;
  }
  80% {
    color: #cc091e;
  }
  100% {
    color: #bd081c;
  }
}
@keyframes anim-ig {
  40% {
    color: #841c6e;
  }
  80% {
    color: #b62798;
  }
  100% {
    color: #c32aa3;
  }
}
@keyframes anim-ml {
  40% {
    color: #ffce50;
  }
  80% {
    color: #ffbd12;
  }
  100% {
    color: #ffb903;
  }
}
.img-responsive {
  max-width: 100%;
}

.texto-parrafos {
  margin-top: 20px;
  line-height: 150%;
  color: #999999;
  font-size: 13px;
  letter-spacing: 1px;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

#elemento1 .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#elemento1 .contenedor .form ion-icon {
  position: relative;
  top: 4px;
  left: -3px;
}
#elemento1 .contenedor .form input {
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
#elemento1 .contenedor .logo img {
  max-width: 150px;
}
#elemento1 .contenedor .cart span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}
#elemento1 .contenedor .cart span:last-child {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 3px;
}
#elemento1 .contenedor .cart ion-icon {
  font-size: 20px;
  position: relative;
  top: 4px;
}

#barra-principal {
  background: none;
  border: none;
  box-sizing: border-box;
  margin-bottom: 0px;
  padding-top: 16px;
}
#barra-principal .container {
  display: flex;
  justify-content: center;
}
#barra-principal ul {
  box-shadow: none;
}
#barra-principal ul li a {
  background: none;
}

/*#main-nav{
	margin-top: 40px;
	ul{
		display: flex;
		justify-content: center;
		li{
			margin: 0 30px;
			a{
				text-decoration: none;
				color: $font-color;
			}

			ion-icon{
				position: relative;
				top: 2px;
				margin-left: 5px;
			}
		}
	}
}*/
.divider {
  margin: 30px auto;
}
.divider hr {
  border: none;
  border-top: #999 solid 1px;
}

.contenido {
  display: flex;
}
.contenido nav {
  flex: 1;
}
@media (max-width: 600px) {
  .contenido nav {
    flex: 2;
  }
}
.contenido main {
  flex: 8;
}

#menu-lateral {
  background: none;
  border: none;
}
#menu-lateral h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #9a9a9a;
}
#menu-lateral ul a {
  text-decoration: none;
  color: #343434;
  background: none;
}
#menu-lateral ul .dp {
  color: #0077FF;
  font-weight: 700;
}
#menu-lateral ul .fw {
  text-transform: uppercase;
  color: black;
}

/*#nav-aside{

	h4{
		text-transform: uppercase;
		margin-bottom: 10px;
		color: lighten($font-color, 40%);
	}

	ul{
		li{
			padding: 15px 0;
			ion-icon{
				position: relative;
				top: 3px;
			}
		}
		
		&.level1{
			color: #0077FF;
			font-weight: 700;

			li{
				&:last-child{
					color: $font-color;
				}	
			} 	
		}

		&.level2{
			margin-left: 30px;
			font-weight: 400;
			color: $font-color;
		}

		.fw{
			text-transform: uppercase;
		}
	}
}*/
#main-header {
  position: relative;
}

.texto {
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 100px;
  box-sizing: border-box;
}
.texto h3, .texto h4 {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 15px 0;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 950px) {
  .texto h3, .texto h4 {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .texto h3, .texto h4 {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .texto h3, .texto h4 {
    display: none;
  }
}
.texto h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 950px) {
  .texto h2 {
    font-size: 32px;
  }
}
.texto h2.small {
  font-size: 30px;
}
@media (max-width: 950px) {
  .texto h2.small {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .texto h2.small {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .texto h2.small {
    display: none;
  }
}

#catalogo1 {
  display: flex;
  margin: 40px -20px 0 -20px;
}
#catalogo1 article {
  position: relative;
  flex: 1;
  padding: 0 20px;
}
#catalogo1 article .texto {
  padding-left: 50px;
}

.separador {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Roboto";
  font-size: 13px;
  color: #cdcdcd;
  letter-spacing: 2px;
}

#catalogo2 {
  display: flex;
}
@media (max-width: 800px) {
  #catalogo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#catalogo2 article {
  flex: 1;
}
@media (max-width: 800px) {
  #catalogo2 article {
    max-width: 300px;
  }
}
#catalogo2 .texto-anteojo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#catalogo2 .texto-anteojo h2 {
  text-transform: uppercase;
  color: #8db3d3;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 12px;
}
@media (max-width: 650px) {
  #catalogo2 .texto-anteojo h2 {
    font-size: 11px;
  }
}
#catalogo2 .texto-anteojo h3 {
  margin-top: 20px;
  font-weight: bold;
  font-family: "roboto 300";
  color: black;
}
@media (max-width: 650px) {
  #catalogo2 .texto-anteojo h3 {
    font-size: 18px;
  }
}
#catalogo2 .texto-anteojo h4 {
  text-transform: uppercase;
  margin-top: 20px;
  color: #999999;
}
@media (max-width: 650px) {
  #catalogo2 .texto-anteojo h4 {
    font-size: 16px;
  }
}

#descripcion {
  display: flex;
  margin-top: 40px;
}
@media (max-width: 800px) {
  #descripcion {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  #descripcion img {
    display: none;
  }
}
#descripcion article {
  flex: 1;
}
@media (max-width: 800px) {
  #descripcion article {
    flex: 3;
  }
}
#descripcion article h2 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  color: black;
}
@media (max-width: 800px) {
  #descripcion article h2 {
    letter-spacing: 0px;
  }
}
#descripcion div {
  flex: 1;
  margin-top: 30px;
}
#descripcion div img {
  margin-left: 10px;
}

#imagen-nena {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 15px;
}
#imagen-nena div {
  position: absolute;
}
#imagen-nena div h3 {
  color: #e6e6e6;
  opacity: 0.8;
  font-size: 20px;
  font-family: "roboto";
  letter-spacing: 3px;
}
@media (max-width: 780px) {
  #imagen-nena div h3 {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  #imagen-nena div h3 {
    font-size: 13px;
  }
}
#imagen-nena div h2 {
  color: white;
  font-size: 40px;
  margin-top: 30px;
  font-weight: bold;
  font-family: "roboto 700";
}
@media (max-width: 780px) {
  #imagen-nena div h2 {
    font-size: 32px;
  }
}
@media (max-width: 780px) {
  #imagen-nena div h2 {
    font-size: 24px;
  }
}
#imagen-nena div h4 {
  color: #e6e6e6;
  opacity: 0.8;
  font-size: 20px;
  font-family: "roboto";
  letter-spacing: 3px;
  margin-top: 30px;
}
@media (max-width: 780px) {
  #imagen-nena div h4 {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  #imagen-nena div h4 {
    font-size: 13px;
  }
}

#parrafo-imagen {
  display: flex;
}
@media (max-width: 670px) {
  #parrafo-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#parrafo-imagen article {
  flex: 1;
  padding: 20px;
}
@media (max-width: 670px) {
  #parrafo-imagen article {
    max-width: 300px;
  }
}
#parrafo-imagen article h2 {
  font-weight: bold;
  font-family: "Roboto 300";
  font-size: 20px;
  color: black;
}
@media (max-width: 780px) {
  #parrafo-imagen article h2 {
    font-size: 17px;
  }
}
@media (max-width: 696px) {
  #parrafo-imagen article h2 {
    font-size: 16px;
  }
}
@media (max-width: 670px) {
  #parrafo-imagen article h2 {
    font-size: 24px;
  }
}
#parrafo-imagen article p {
  line-height: 200%;
}
@media (max-width: 670px) {
  #parrafo-imagen article p {
    display: none;
  }
}
#parrafo-imagen article a {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: steelblue;
  font-size: 13px;
}
@media (max-width: 670px) {
  #parrafo-imagen article a {
    margin-top: 0px;
  }
}
@media (max-width: 780px) {
  #parrafo-imagen article a h3 {
    font-size: 26px;
  }
}
@media (max-width: 780px) {
  #parrafo-imagen article a h3 {
    font-size: 23px;
  }
}
@media (max-width: 580px) {
  #parrafo-imagen article a h3 {
    font-size: 20px;
  }
}
@media (max-width: 580px) {
  #parrafo-imagen article a h3 {
    font-size: 16px;
  }
}

#penultimo {
  display: flex;
}
@media (max-width: 800px) {
  #penultimo {
    display: flex;
    flex-direction: column;
  }
}
#penultimo article {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  #penultimo article {
    max-width: 700px;
  }
}
#penultimo article a {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  color: white;
  font-family: "Roboto 300";
}

#ultimo {
  display: flex;
}
@media (max-width: 880px) {
  #ultimo {
    display: none;
  }
}
#ultimo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  margin: 20px;
  flex: 1;
  background: #94a0b0;
  color: white;
  letter-spacing: 2px;
}
#ultimo div:first-child {
  background: #b7bcc2;
}
#ultimo div:last-child {
  background: #d1c4b4;
}
#ultimo div h3 {
  margin-top: 22px;
  padding: 11px;
  font-size: 10px;
  font-family: "Roboto";
}
#ultimo div h2 {
  font-family: "Roboto 300";
  font-size: 20px;
  padding: 11px;
}
#ultimo div h4 {
  margin-bottom: 22px;
  padding: 11px;
  font-size: 10px;
  font-family: "Roboto";
}

footer ul li {
  padding: 1px 0px;
  width: 96px;
}
footer ul li a {
  font-size: 15px;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}
footer ul li a:hover {
  text-decoration: none;
  color: black;
}
footer ul li a h2, footer ul li a h3, footer ul li a h4, footer ul li a h5, footer ul li a h6 {
  font-size: 10px;
  font-family: "Roboto";
  color: #666666;
  text-decoration: none;
  letter-spacing: 1px;
}

#tercer-footer form {
  margin-bottom: 32px;
}
#tercer-footer h2 {
  padding-bottom: 16px;
  letter-spacing: 2px;
  color: black;
}
@media (max-width: 993px) {
  #tercer-footer h2 {
    font-size: 20px;
  }
}
#tercer-footer h3 {
  padding-bottom: 16px;
  letter-spacing: 2px;
  color: black;
}
@media (max-width: 993px) {
  #tercer-footer h3 {
    font-size: 20px;
    letter-spacing: 0px;
  }
}
@media (max-width: 710px) {
  #tercer-footer h3 {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  #tercer-footer h3 {
    font-size: 16px;
  }
}
@media (max-width: 595px) {
  #tercer-footer h3 {
    font-size: 13px;
  }
}
@media (max-width: 550px) {
  #tercer-footer h3 {
    display: none;
  }
}
@media (max-width: 550px) {
  #tercer-footer section {
    display: flex;
    flex-direction: column;
  }
}
#tercer-footer section a {
  text-decoration: none;
  font-size: 30px;
  color: #666666;
  transition: 1s;
}
@media (max-width: 755px) {
  #tercer-footer section a {
    font-size: 24px;
  }
}
@media (max-width: 630px) {
  #tercer-footer section a {
    font-size: 20px;
  }
}
@media (max-width: 548px) {
  #tercer-footer section a {
    font-size: 20px;
  }
}
#tercer-footer section a:hover .fa-facebook-f {
  color: #3b5998;
  animation-name: anim-fb;
  animation-duration: 2s;
  transform: scale(1.4);
}
#tercer-footer section a:hover .fa-twitter {
  color: #1da1f2;
  animation-name: anim-tw;
  animation-duration: 2s;
  transform: scale(1.4);
}
#tercer-footer section a:hover .fa-pinterest-p {
  color: #bd081c;
  animation-name: anim-pt;
  animation-duration: 2s;
  transform: scale(1.4);
}
#tercer-footer section a:hover .fa-instagram {
  color: #c32aa3;
  animation-name: anim-ig;
  animation-duration: 2s;
  transform: scale(1.4);
}
#tercer-footer section a:hover .fa-envelope {
  color: #ffb903;
  animation-name: anim-ml;
  animation-duration: 2s;
  transform: scale(1.4);
}

/*# sourceMappingURL=style.css.map */
