
//@import "reset";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700');

$font-titles: 'Playfair Display', serif;
$font-color: #343434;
$font-color2: #0077FF;

$color1: rgb(59, 89, 152);
$color2: rgb(29, 161, 242);
$color3: rgb(189, 8, 28);
$color4: rgb(195, 42, 163);
$color5: rgb(255, 185, 3);

body{
	font-family: Roboto, sans-serif;
	color: $font-color;
}

@keyframes anim-fb{

	40%{ 
		color: lighten($color1, 15%);
	}

	80%{
		color: lighten($color1, 3%);
	}

	100%{
		color: $color1;
	}
}

@keyframes anim-tw{

	40%{ 
		color: darken($color2, 15%);
	}

	80%{
		color: darken($color2, 3%);
	}

	100%{
		color: $color2;
	}
}

@keyframes anim-pt{

	40%{ 
		color: lighten($color3, 15%);
	}

	80%{
		color: lighten($color3, 3%);
	}

	100%{
		color: $color3;
	}
}

@keyframes anim-ig{

	40%{ 
		color: darken($color4, 15%);
	}

	80%{
		color: darken($color4, 3%);
	}

	100%{
		color: $color4;
	}
}

@keyframes anim-ml{

	40%{ 
		color: lighten($color5, 15%);
	}

	80%{
		color: lighten($color5, 3%);
	}

	100%{
		color: $color5;
	}
}

.img-responsive{
	max-width: 100%;
}

.texto-parrafos{
	        margin-top: 20px;
			line-height: 150%;
			color: lighten(black, 60%);
			font-size: 13px;
			letter-spacing: 1px;
}


.contenedor{
	max-width: 1200px;
	margin: auto;
}

#elemento1{
	.contenedor{
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		.form{

			ion-icon{
				position: relative;
			    top: 4px;
			    left: -3px;
			}

			input{
				border: none;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    font-size: 12px;
			}
		}
		.logo{
			img{
				max-width: 150px;
			}
		}

		.cart{
			span{
				text-transform: uppercase;
			    letter-spacing: 2px;
			    font-size: 12px;
			    display: inline-block;
			    margin-left: 10px;

			    &:last-child{
			    	border: solid 1px #ccc;
				    padding: 5px;
				    border-radius: 3px;
			    }
			}

			ion-icon{
		    	font-size: 20px;
			    position: relative;
			    top: 4px;
		    }
		}
	}
}

#barra-principal{
	background: none;
	border: none;
	box-sizing: border-box;
    margin-bottom: 0px;
    padding-top: 16px;
  .container{
	display: flex;
    justify-content: center;
   }
  ul{
   box-shadow: none;
   	li{
      a{
  	   background: none;
  		}
  	}
  }
  
}
/*#main-nav{
	margin-top: 40px;
	ul{
		display: flex;
		justify-content: center;
		li{
			margin: 0 30px;
			a{
				text-decoration: none;
				color: $font-color;
			}

			ion-icon{
				position: relative;
				top: 2px;
				margin-left: 5px;
			}
		}
	}
}*/


.divider{
	margin: 30px auto;
	hr{
		border: none;
    	border-top: #999 solid 1px;
	}
}


.contenido{
	display: flex;

	nav{
		flex: 1;
		@media (max-width: 600px){
          flex: 2;
		}
	}

	main{
		flex: 8;
	}
}
#menu-lateral{
	background: none;
	border: none;
     h4{
	  text-transform: uppercase;
	  margin-bottom: 10px;
	  color: lighten($font-color, 40%);
	}
	
	ul{
       a{
         text-decoration: none;
	     color: $font-color;
	     background: none;
        }
	   .dp{
	   	color: $font-color2;
	    font-weight: 700;
	   }
	     .fw{
			text-transform: uppercase;
			color: black;
		}

   }
}
/*#nav-aside{

	h4{
		text-transform: uppercase;
		margin-bottom: 10px;
		color: lighten($font-color, 40%);
	}

	ul{
		li{
			padding: 15px 0;
			ion-icon{
				position: relative;
				top: 3px;
			}
		}
		
		&.level1{
			color: #0077FF;
			font-weight: 700;

			li{
				&:last-child{
					color: $font-color;
				}	
			} 	
		}

		&.level2{
			margin-left: 30px;
			font-weight: 400;
			color: $font-color;
		}

		.fw{
			text-transform: uppercase;
		}
	}
}*/

#main-header{
	position: relative;
	
}

.texto{
	position: absolute;
    top: 0;
    display: flex;
    left: 0;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 100px;
    box-sizing: border-box;

    h3, h4{
    	color: white;
    	letter-spacing: 2px;
    	text-transform: uppercase;
    	margin: 15px 0;
    	text-shadow: 0 0 4px rgba(0,0,0,0.5);
    	@media (max-width: 950px){
    		font-size: 16px;
    	}
    	@media (max-width: 800px){
    			font-size: 10px;
    		}
    		@media (max-width: 600px){
    			display: none;
    		}
    }

    h2{
    	font-family: $font-titles;
    	font-size: 50px;
    	color: white;
    	letter-spacing: 2px;
    	text-shadow: 0 0 4px rgba(0,0,0,0.5);
    	@media (max-width: 950px){
    		font-size: 32px;
    	}
    	&.small{
    		font-size: 30px;
    		@media (max-width: 950px){
    			font-size: 24px;
    		}
    		@media (max-width: 800px){
    			font-size: 16px;
    		}

    		@media (max-width: 700px){
    			display: none;
    		}
    	}
    }
}


#catalogo1{
	display: flex;
	margin: 40px -20px 0 -20px;

	article{
		position: relative;
		flex: 1;
		padding: 0 20px;
		.texto{
			padding-left: 50px;
		}
	}
}

.separador{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: "Roboto";
	font-size: 13px;
	color: lighten($font-color,60%);
	letter-spacing: 2px;
}

#catalogo2 {
	display: flex;
	@media (max-width: 800px){
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		article{
			flex: 1;
            @media (max-width: 800px){
            	max-width: 300px;
            }
	}
	
        .texto-anteojo {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			text-transform: uppercase;
			color: lighten(steelblue, 20%);
			margin-top: 20px;
			letter-spacing: 2px;
			font-size: 12px;
			@media (max-width: 650px){
				font-size: 11px;
			}
		}

		h3{
			margin-top: 20px;
			font-weight: bold;
			font-family: "roboto 300";
			color: black;
			@media (max-width: 650px){
				font-size: 18px;
			}
		}
         
         h4{
         	text-transform: uppercase;
			margin-top: 20px;
			color: lighten(black, 60%);
			@media (max-width: 650px){
				font-size: 16px;
			}
		}
		

	}


}

#descripcion{
	display: flex;
	margin-top: 40px;
	@media (max-width: 800px){
		flex-direction: column;
		align-items: center;
	}
	img{
		@media (max-width: 800px){
			display: none;
		}
	}

	article{
		flex: 1;
		
        @media (max-width: 800px){
			flex: 3;
		}

		h2{
			margin-top: 30px;
			font-weight: bold;
			font-size: 20px;
			font-family: $font-titles;
			letter-spacing: 2px;
            color: black;
            @media (max-width: 800px){
			  letter-spacing: 0px;
		    }
            
         }
     }

	div{
		flex: 1;
		margin-top: 30px;

		img{
			margin-left: 10px;
		}


	}

}

#imagen-nena{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-top: 60px;
	margin-bottom: 15px;

	div{
	position: absolute;	

	h3{
		color: darken(white, 10%);
		opacity: 0.8;
		font-size: 20px;
		font-family: "roboto";
		letter-spacing: 3px;
		@media (max-width: 780px){
			font-size: 16px;
		}
		@media (max-width: 780px){
			font-size: 13px;
		}
	}

	h2{
		color: white;
		font-size: 40px;
		margin-top: 30px;
		font-weight: bold;
		font-family: "roboto 700";
		@media (max-width: 780px){
			font-size: 32px;
		}
		@media (max-width: 780px){
			font-size: 24px;
		}
        
	}

	h4{
		color: darken(white, 10%);
		opacity: 0.8;
		font-size: 20px;
		font-family: "roboto";
		letter-spacing: 3px;
		margin-top:30px;
        @media (max-width: 780px){
			font-size: 16px;
		}
		@media (max-width: 780px){
			font-size: 13px;
		}
	}
	
	}

}

#parrafo-imagen{
	display: flex;
	@media (max-width: 670px){
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
     article{ 
   	       
           flex: 1;
           padding: 20px;
           @media (max-width: 670px){
            max-width: 300px;
           }
   	
      h2{
        font-weight: bold;
        font-family: "Roboto 300";
        font-size: 20px;
        color: black;
        @media (max-width: 780px){
        	font-size: 17px;
        }
        @media (max-width: 696px){
        	font-size: 16px;
        }
        @media (max-width: 670px){
        	font-size: 24px;
        }
        
        
   	   }

   	   p{
   		line-height: 200%;
   	   }

       a{
   		display: inline-block;
   		margin-top: 30px;
   		text-decoration: none;
   		color: steelblue;
   		font-size: 13px;
   		@media (max-width: 670px){
   			margin-top: 0px;
   		}
   		h3{
   			@media (max-width: 780px){
        	font-size: 26px;
        }
        @media (max-width: 780px){
        	font-size: 23px;
        }
        @media (max-width: 580px){
        	font-size: 20px;
        }
        @media (max-width: 580px){
        	font-size: 16px;
        }
   		}
   	   }

     }
}

#penultimo{
	display: flex;
	@media (max-width: 800px){
           display: flex;
           flex-direction: column;

	}
	
article{
		display: flex;
		flex: 1;
		padding: 20px;
		justify-content: center;
	    align-items: center;
	    @media (max-width: 800px){
	    	max-width: 700px;
	    }
		
		
		a{
			display: inline-block;
			position: absolute;
			text-decoration: none;
			color: white;
			font-family: "Roboto 300";
		}

		
	}
}

#ultimo{
	display: flex;
	@media (max-width: 880px){
		display: none;
	}

	div{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
        max-width: 280px;
        margin: 20px;
		flex: 1;
		background: rgb(148, 160, 176);
		color: white;
		letter-spacing: 2px;

		&:first-child{
			background: rgb(183, 188, 194);
		}

		&:last-child{
			background: rgb(209, 196, 180);
		}

		h3{
			margin-top: 22px;
			padding: 11px;
			font-size: 10px;
			font-family: "Roboto"
			
		}
		h2{
			font-family: "Roboto 300";
			font-size: 20px;
			padding: 11px;

		}   

		h4{
			margin-bottom: 22px;
			padding: 11px;
			font-size: 10px;
			font-family: "Roboto"
		}   
	}
}

footer{
	
  ul{
	 li{
	   padding: 1px 0px;
	   width: 96px;
        a{  
		 font-size: 15px;
		 color: black;
		 text-decoration: none;
		 letter-spacing: 2px;
		 &:hover{
		 	text-decoration: none;
		 	color: black;
		 }
          
          h2, h3, h4, h5, h6{
			 font-size: 10px;
			 font-family: "Roboto";
			 color: lighten(black, 40%);
		     text-decoration: none;
		     letter-spacing: 1px;
		    }
	    }
	  }
	}	
}


#tercer-footer{
     

    form{
     	  margin-bottom: 32px;
     	}
     
     h2{
     	padding-bottom: 16px;
     	letter-spacing: 2px;
     	color: black;
     	@media (max-width: 993px){
     		font-size: 20px;

     	}

     }
     h3{
     	padding-bottom: 16px;
     	letter-spacing: 2px;
     	color: black;
     	@media (max-width: 993px){
     		font-size: 20px;
            letter-spacing: 0px;
     	}
     	@media (max-width: 710px){
     		font-size: 18px;
     	}
     	@media (max-width: 650px){
     		font-size: 16px;
     	}
     	@media (max-width: 595px){
     		font-size: 13px;
     	}
     	@media (max-width: 550px){
     		display: none;
     	}

     }


     section{
           @media (max-width: 550px){
                  display: flex;
                  flex-direction: column;
           }
         a{
     	  text-decoration: none;
          font-size: 30px;
          color: lighten(black, 40%);
          transition: 1s;
          @media (max-width: 755px){
          	font-size: 24px;
          }
          @media (max-width: 630px){
          	font-size: 20px;
          }
          @media (max-width: 548px){
          	font-size: 20px;
          }

          &:hover .fa-facebook-f{
          	color: rgb(59, 89, 152);
          	animation-name: anim-fb;
          	animation-duration: 2s;
          	transform: scale(1.4);
          }

          &:hover .fa-twitter{
          	color: rgb(29, 161, 242);
          	animation-name: anim-tw;
          	animation-duration: 2s;
          	transform: scale(1.4);
          }

          &:hover .fa-pinterest-p{
          	color: rgb(189, 8, 28);
          	animation-name: anim-pt;
          	animation-duration: 2s;
          	transform: scale(1.4);
          }

          &:hover .fa-instagram{
          	color: rgb(195, 42, 163);
          	animation-name: anim-ig;
          	animation-duration: 2s;
          	transform: scale(1.4);
          }

          &:hover .fa-envelope{
          	color: rgb(255, 185, 3);
          	animation-name: anim-ml;
          	animation-duration: 2s;
          	transform: scale(1.4);
          }

         }

     }
    	
}
